@import 'global';

body {
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	justify-content: center;

	.currencyconverter {
		border: 1.5px solid $colour;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 30px;
		width: 25%;

		.currency_header {
			color: orange;
			margin-bottom: 10px;
			margin-top: 15px;
		}

		.currency-title {
			color: orange;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			margin-bottom: 10px;
		}

		input,
		select {
			padding: 5px 10px 5px 5px;
		}

		select {
			height: 28px;
			background-color: white;
		}


		input[type='number'] {
			color: $greycolor;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 0.8rem;
		}


		.disclaimer{
			color:$greycolor;
			display: flex;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			justify-content: flex-end;
			padding: 35px 35px 35px 0px;
			text-decoration: underline;
		}


/* End Styles */

	}
}
